<!-- Footer Section -->
<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <p>&copy; 2024 ASLAT Guidance Education Consultancy. All rights reserved.</p>
        <p>
            <a href="https://www.facebook.com/aslatedu" target="_blank" class="text-white me-3" aria-label="Facebook">
                <i class="bi bi-facebook"></i> Facebook
            </a>
            <a href="https://twitter.com/aslatedu" target="_blank" class="text-white me-3" aria-label="Twitter">
                <i class="bi bi-twitter"></i> Twitter
            </a>
            <a href="https://www.instagram.com/aslatedu" target="_blank" class="text-white" aria-label="Instagram">
                <i class="bi bi-instagram"></i> Instagram
            </a>
        </p>
    </div>
</footer>
